*{margin:0;padding:0;box-sizing:border-box;color:hsl(243, 100%, 93%);font-family: 'Raleway', sans-serif;font-weight: 400;}

html{
    background-color: #18181a;
}

body{
    height: 100vh;
    font-size: 14px;    
}
main{
    width: 100%;
    flex-direction: column;
}
footer{
    position:absolute;
    bottom:5px;
}

.bodyContainer{
    width: 375px;
    height: 100vh;
    background-image: url(images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.box{
    margin-bottom: 20px;
    width: 340px;
    background-color: hsl(228, 56%, 26%);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
}
.logo{
    margin: 30px 0 0 30px;
}
.box_navContainer{
    border-top-right-radius: 80px;
}
.navMenu{
    /* width: 80%; */
    margin: 0 0 15px 10px;
    display:flex;
    justify-content: flex-start;
    padding: 20px;
}
.navMenu__ico{
    margin-right: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(229, 57%, 11%);
    height: 46px;
    width: 46px;
    border-radius: 20%;
}

.spaceInfoContainer{
    position: relative;
}
.currentDS__container{
    width: 100%;
    margin: 30px;
    flex-direction: column;
}
.currentDS__info{
    width: inherit;
    text-align: center;
}
.currentDS__progresBarData__container{
    width: 100%;
    margin: 10px;
}
.currentDS__progressBarData__progressbar{
    display: flex;
    align-items: center;
    height: 20px;
    border-radius: 10px;
    background-color: hsl(229, 57%, 11%);
}
.currentDS__progressBarData__progressbar__used{
    width: 81%;
    height: 16px;
    margin-left: 2px;
    border-radius: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(90deg, hsl(6, 100%, 80%) 0%, hsl(335, 100%, 65%) 100%);
}
.currentDS__progressBarData__progressbar__endPoint{
    width: 14px;
    height: 14px;
    margin-right: 2px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 100%;
    background-color: #fff;
}

.currentDS__progressBarData__info{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.leftDS__container{
    background-color: #fff;
    width: 150px;
    height: 60px;
    position: absolute;
    bottom: -30px;
    border-radius: 10px;
    vertical-align: middle;
}
.leftDS__info{
    color: #000;
    /* font-size: 0.8em; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftDS__info__space{
    display: inline;
    color: inherit;
    font-size: 2.3em;
    color: inherit;
    font-weight: 700;
}
.leftDS__info__spaceType{
    display: inline;
    color: inherit;
    margin: 5px;
}

/* Utility Style */
.contentCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Code provided by Frontend-Mentor */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 900px) {
    main{
        flex-direction: row;
        align-items: flex-end!important;
        column-gap: 20px;
    }
    .bodyContainer{
        width: 1440px;
        height: 100vh;
        background-image: none;
        background-color: hsl(229, 57%, 11%);
        background-image: url(images/bg-desktop.png);
        background-position: bottom;
        background-size: auto auto;
    }
    .spaceInfoContainer{
        width: 500px;
    }
    .currentDS__info{
        text-align: left;
    }
    .leftDS__container{
        bottom: auto;
        top: -30px;
        right: 30px;
        /* width: 120px; */
    }
    .leftDS__container__triangle{
        position:absolute;
        width: 0;
        height: 0;
        bottom: -15px;
        right: 0;
        border-style: solid;
        border-width: 0 25px 25px 0;
        border-color: transparent #ffffff transparent transparent;
    }
}